<section class="comment-area">
  <div class="comment-wrapper">
    <!--{% if site.discus-identifier %}
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.discus-identifier }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}-->
<!-- Caixa de Comentários com imagem acima -->
<div id="comentario" style="max-width: 100%; width: 100%; text-align: center; margin-top: 40px;">
  <img src="https://geanramos.github.io/images/social/post-disqus-titulo.png" style="max-width: 100%; height: auto; margin-bottom: 20px;">  
  <div class="fb-comments" id="fb-comments">
       data-href="https://developers.facebook.com/docs/plugins/comments"
       data-width="100%"
       data-numposts="10"
       data-order-by="reverse_time">
  </div>
</div>
  </div>
</section> <!-- End Comment Area -->
