<header class="site-header">
  <div class="capa-container">
      <img class="capa" src="https://picsum.photos/768/291" alt="Capa {{ site.title }}">
  </div>
  <section class="perfil-card">
      <div class="avatar-wrapper">
          <a href="/"> 
              <img class="avatar" src="https://avatars.githubusercontent.com/u/6352393?v=4" alt="Avatar {{ site.title }}">
          </a>
      </div>
      <div class="perfil-header-info">
          <a href="/" class="perfil-nome-link">
              <h1 class="perfil-nome">{{ site.title }}</h1>
          </a>
          <a href="https://gean.me/comunidade" target="_blank" class="botao-whatsapp">Seguir</a>
      </div>
      <p class="perfil-descricao">{{ site.description }}</p>
      <p class="perfil-seguidores">496K Seguidores</p>
  </section>
</header>
