  <header class="site-header">
    <div class="capa-container">
        <img class="capa" src="{% if page.img %}https://images.weserv.nl/?w=768&h=329&output=jpg&q=80&fit=cover&url={{ page.img | absolute_url }}{% else %}https://picsum.photos/768/329{% endif %}" alt="{{ page.title }}">
    </div>
    <section class="perfil-card">
        <div class="avatar-wrapper">
            <a href="./index.html"> 
                <img class="avatar" src="{{ site.author-img }}" alt="Avatar {{ site.title }}">
            </a>
        </div>
        <div class="perfil-header-info">
            <a href="./index.html" class="perfil-nome-link">
                <!--<h1 class="perfil-nome">{{ page.title }}</h1>-->
                <h1 class="post-title">{{ page.title }}</h1>
            </a>
            <a href="#" target="_blank" class="botao-whatsapp">Seguir</a>
        </div>

        <p class="perfil-descricao">{{ page.description }}</p>
        <!--<p class="perfil-seguidores">{{ page.date | date: "%d de %B de %Y" }}</p>-->
        <p class="post-meta">{{ page.date | date: "%d de %B de %Y" }}</p>
    </section>
  </header>
